*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    #form{
        width: 100%;
        .form-group{
            input{
                width: 50%;
            }
        }
    }
}